.navbar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.navbar-brand span {
  color: #32A140;
}

.navbar-collapse ul {
  text-align: center;
}

.navbar-collapse ul li:hover {
  background-color: #404040;
}

.jumbotron {
  background: url("../img/main.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  color: white;
}

.jumbotron h2 {
  margin: 30px;
}

.jumbotron .titleSpan {
  color: #3bff1b;
}

.jumbotron p {
  margin: 30px;
}

.jumbotron .intro {
  width: 100%;
  margin: 0;
  padding: 20px;
  border-radius: 5px;
  background: rgba(73, 73, 73, 0.5);
}

.panel {
  min-height: 360px;
}

.panel .panel-title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.panel img {
  margin-bottom: 30px;
}

#about_us .panel .panel-title, #admission .panel .panel-title {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

#about_us .panel .panel-title img, #admission .panel .panel-title img {
  margin: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#about_us .panel .panel-body .well, #admission .panel .panel-body .well {
  width: 90%;
  margin: 5px auto;
}

#about_us .panel .panel-body .border, #admission .panel .panel-body .border {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 30px;
  padding: 10px;
}

#about_us .panel .panel-body .panel-title, #admission .panel .panel-body .panel-title {
  border: none;
}

#about_us .panel .panel-body form textarea, #admission .panel .panel-body form textarea {
  resize: none;
}

#highlights p {
  text-indent: 35px;
}

#gallery .panel-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#gallery .panel-body a {
  margin: 0;
  padding: 0;
}

#gallery .panel-body a img {
  margin: 5px;
}

#scrollToTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  transform: scale(0);
  opacity: .7;
  transition: .5s;
}

#scrollToTop:hover {
  opacity: 1;
}

#scrollToTop img {
  pointer-events: none;
}

.showArrow {
  animation: zoomIn .5s;
}

footer {
  margin-top: 40px;
  margin-bottom: 20px;
  height: 60px;
  line-height: 60px;
  background: #222;
  text-align: center;
}

@keyframes zoomIn {
  0% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
