
.navbar
{
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.navbar-brand
{
  span
  {
    color: #32A140;
  }
}
.navbar-collapse
{
  ul
  {
    text-align: center;
    li
    {
      &:hover
      {
        background-color: #404040;
      }
    }
  }
}

.jumbotron
{
  background: url('../img/main.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center;
  color: white;
  h2
  {
    margin: 30px;
  }
  p
  {
    margin: 30px;
  }
}
.panel
{
  min-height: 360px;
  .panel-title
  {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  img
  {
    margin-bottom: 30px;
  }
}

#about_us, #admission
{
  .panel
  {
    .panel-title
    {
      padding: 5px;
      border-bottom: 1px solid #ddd;
      img
      {
        margin: 0;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
      }
    }
    .panel-body
    {
      .well
      {
        width: 90%;
        margin: 5px auto;
      }
      .border
      {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        margin-top: 30px;
        padding: 10px;
      }
      .panel-title
      {
        border: none;
      }
      form
      {
        width: 80%;
        display: block;
        margin: auto;
        border: none;
        textarea
        {
          resize: none;
        }
      }
    }
  }
}
#highlights
{
  .row
  {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

#gallery
{
  .panel-body
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    a
    {
      margin: 0;
      padding: 0;
      img
      {
        margin: 5px;
      }
    }
  }
}

.scrollToTop
{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  display: none;
}

footer
{
  margin-top: 40px;
  margin-bottom: 20px
}
